.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 90px;
  flex-wrap: wrap;
  gap: 5px;
}
.display {
  display: flex;
  border: 1px solid black;
  width: 120px;
  height: 12px;
}
button {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  border-style: hidden;
}
.operators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90px;
  flex-wrap: wrap;
  gap: 5px;
}

.keypad {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#digit {
  background-color: slategray;
}
#other,
#empty {
  background-color: rgb(73, 76, 80);
}
#operator {
  background: orange;
}
